.containerSearch {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    margin-top: 50px;
    padding: 15px 30px;
    width: 100%;
    max-width: 1550px;
    background-color: #f2f2f2;
    border-radius: 0.5rem;
}