.filterContainer {
    margin-right: 2rem;
    padding: 1.25rem;
    width: 100%;
    max-width: 320px;
    height: fit-content;
    border: 1px solid #e2e8f0;
    border-radius: 0.25rem;
    background-color: white;
}

@media (width <=1024px) {
    .filterContainer {
        margin-right: 0px;
        max-width: 90%;
        position: absolute;
        top: 500px;
        background-color: white;
        box-shadow: 0 20px 25px -5px rgba(0, 0, 0, .1), 0 10px 10px -5px rgba(0, 0, 0, .04);
    }
}

/* Price  */
.priceContainer {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    width: 100%;
    max-width: 350px;
}

.priceContainer h3 {
    font-size: 18px;
    font-weight: 400;
}

.priceRangeContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.priceRange {
    justify-content: space-between;
    max-width: 9rem;
    max-height: 2.5rem;
    background-color: #f2f2f2;
}

.priceRange p {
    font-size: 14px;
}

.dashed {
    margin: 0px 0.25rem;
    opacity: 0.2;
    border-top: 1px solid #000000;
    width: 2rem;
    height: 1px;
}

/* MOQ */
.moqContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2rem;
    width: 100%;
}

.moqContainer h3 {
    font-size: 18px;
    font-weight: 400;
}

.moqInput {
    height: 2.5rem;
    width: 100%;
    margin-top: 1rem;
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: none;
    text-align: center;
    font-size: 14px;
    background-color: #f2f2f2;
}

/* Stock Available */
.stockAvailContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
}

.stockAvailContainer h3 {
    font-size: 18px;
    font-weight: 400;
}

.stockAvailContainer label {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
    font-size: 14px;
}

.stockAvailContainer input {
    height: 18px;
    width: 18px;
    margin-right: 16px;
}

.stockAvailContainer img {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 0.5rem;
}