.container {
    display: flex;
    flex-direction: row;
}

.btn {
    padding: 5px 15px;
    margin: 0 5px;
    display: flex;
    align-items: center;
    max-height: 30px;
    border: 1px solid var(--green);
    border-radius: 9999px;
    font-size: 1rem;
    color: var(--green);
    background: white;
    cursor: pointer;
}

.reg {
    color: var(--blue);
    border: 1px solid var(--blue);
}