.dropdown-menu {
  width: 8rem;
  background: white;
  position: absolute;
  top: 80px;
  list-style: none;
  text-align: start;
  border-radius: 10px;
  border: 1px solid #e2e8f0;
  padding: 0.5rem 0;
}

@media (width <=1024px) {
  .dropdown-menu {
    /* top: 280px; */
    border: 0px;
    position: inherit;
  }
}

.dropdown-menu li {
  background: white;
  cursor: pointer;
  font-size: 1rem;
  margin: 10px
}

.dropdown-menu li:hover {
  color: var(--green);
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #fff;
  padding: 16px;
}

@media (width <=1024px) {
  .fa-caret-down {
    display: none;
  }
}